ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #4B9CD3;
}

li {
    float: left;
}
  
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: medium;
}
  
  /* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #91cdf5;
}

h1 {
    color: white;
}

.centered {
    text-align: center;
}

.title {
    color: white;
    font-size: x-large;
}

.carolina {
    background-color: #4B9CD3;
}

  