.headul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #4B9CD3;
}

.headli {
    float: left;
}
  
.heada {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: medium;
}
  
  /* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #91cdf5;
}

h1 {
    color: white;
}

.centered {
    text-align: center;
}

.title {
    color: white;
    font-size: x-large;
}

.carolina {
    background-color: #4B9CD3;
}

.cardRow {
    display: flex;
    justify-content: center;
    gap: 20px;
   flex-wrap: wrap;
 }

 .clusterCard {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

.card, .clusterCard {
  width: 300px;
  border: 1px solid black;
  min-height: 400px;
  padding: 20px;
}

.space {
    border-bottom: 1px solid slategray;
    padding: 20px 0px;
}
  
section:last-child {
    border: none;
}


  